body {
    background-image: url('imagens/wallpaper001.jpg');
}
.quadrado {
    display: inline-block;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}
#q1 {
    background-color: blueviolet;
}
#q2 {
    background-image: linear-gradient(to bottom, lightcoral, darkred);
}